<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Student Portal - Login</title>

    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>

<div class="login-container">

    <div class="login-box">

        <h1>Student Portal</h1>

        <p>Login to your account</p>

        <div th:if="${param.error}" class="error">
            Invalid username or password
        </div>

        <div th:if="${param.logout}" class="success">
            You have been logged out successfully.
        </div>

        <form th:action="@{/login}" method="post">

            <label>Username</label>

            <input
                    type="text"
                    name="username"
                    placeholder="Enter username"
                    required>

            <label>Password</label>

            <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Enter password"
                    required>

            <button type="submit">
                Login
            </button>

        </form>

    </div>

</div>

<script th:src="@{/js/login.js}"></script>

</body>
</html>